h1 {
    color: #0a1612;
    
}

*{
    background-color: #dcc7aa;
}

button{
    background-color: #6b7a8f;
    color: white;
}

img{
    height: auto;
    width: 600px;
}
 ul{
    color: #f7882f;
 }
