h1 {
    color: #49c5b6;

    
}

*{
    background-color: #000;
    font-family: Helvetica,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #66fcf1;
}

button{
    background-color: #0b0c10;
    color: #66fcf1;
}

img{
    height: auto;
    max-width: 100%;
}
 
ul{
    color: #66fcf1;
 }

 .nm {
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
 }
 
 p {
    color: white;
 }

li {
    color: white;
}
