h1 {
    color: #0a1612;
    
}

*{
    background-color: #dcc7aa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    background-color: #6b7a8f;
    color: white;
}

img{
    height: auto;
    width: auto;
}
 ul{
    color: #f7882f;
 }

 .nm {
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
 }